.sidprof{
    position: relative;
	width:100px;
	height:700px;
	text-align: center;
	background-color: #1FB8BF;

}

#headshot {
	position: absolute;
  top: 50px;
  left: 28%;
  

}

#name_text {
	position:absolute;
	top:450px;
	left: 30%;
	width:100%;
	background-color: #60dfe5;
	color: #FFFFFF;
	width: 200px;
	font-family: Tiffany;
	font-size: 45px;
}

.about {
	font-family: Tiffany; 
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 25px;
	padding-right: 30px;
}


.heading {
	margin-left: 300px;
}

.parttwo {
	margin-left: 150px;
}


body {
	background-color: #FFFDD0;
}

@font-face {
	font-family: Tiffany;
	src: url(stepha5.ttf);
}


